body
{
    background-color: rgb(22, 22, 22);
}
img
{
    border-radius: 8px;
}
.container {
    display: flex;
    width: 1280px;
    height: 720px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box {
    flex: 0px;
    border-radius: 8px;
    overflow: hidden;
    transition: 1.5s;
    margin: 2%;
    line-height: 0;
  }
   
  .box:hover { flex: 50%; }
  .box:hover > img 
  {
    width: 1600px;
    height: 900px;
  }